#sidebar{
    margin-left: -120px;
    margin-right: 50px;

   
   
    background: #400c44;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    
    position: relative;
}


.sidebar__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #bfafbf;
    margin-bottom: 10px;
    border-bottom: 1px solid #bfafbf26;
}
.sidebar__img{
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-left: 13rem;
    font-size: 20px;
    margin-bottom: 10px;
}

.sidebar__title >div>h1>{
    font-size: 18px;
    display: inline;
}
.sidebar__title >i{
    font-size: 18px;
    display: none;
}
.sidebar__menu .sidebar__link p{
    margin-top: 34rem;
    font-weight: 100;
    font-size: 10px;
    font-style: italic;
}
.sidebar__menu>h2{
    color: #bfafbf;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-weight: 700;
}
.sidebar__menu > hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #7b437e;
}

.sidebar__link{
    font-size: 15px;
    color: #f3f4f6;
    padding: 5px;
    border-bottom: 3px;
    /* margin-bottom: 5px; */
}
.sidebar__link>button{
    background-color:transparent;
    border: none;
    color:#bfafbf;
    width: 110%;
    margin-left: -15px;
    text-align: left;
}
.sidebar__link>button:hover{
    background-color:rgba(0, 0, 0, 0.247);
    border: none;
    color:#bfafbf;
}
/* .sidebar__link>button::after{
    background-color:transparent;
    border: none;
} */

.sidebar__link .fa-square-plus{
    margin-right: 10px;
    font-size: 18px;
}
.organisation__name{
    border-bottom: 1px solid #bfafbf26;
}
.organisation__name >a{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff !important;

}
.sidebar__link > a{
    text-decoration: none;
    color: #bfafbf;
    /* font-weight: 700; */
}
.sidebar__link .fa{
    color: #bfafbf;
}
.sidebar__link>i{
    margin-right: 10px;
    font-size: 18px;
}